{
  "arrowParens": "always",
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 120,
  "tabWidth": 2,
  "overrides": [
    {
      "files": ["*.ts", "*.js", "*.tsx", "*.jsx"],
      "options": { "trailingComma": "all" },
      "parser": "babel-ts"
    }
  ]
}
