@import '~antd/dist/antd.css';

html {
  font-size: 12px;
  font-family: Inter;
}

html,
body {
  height: 100%;
}

#root {
  width: 100%;
  margin: 0 auto;
}

/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

@media screen and (min-width: 2000px) {
  Html {
    font-size: 25px;
  }
}

/* for adjusting styled of sweet alert npm package! */
.swal {
  color: red;
}

.swal-text {
  background-color: rgba(255, 147, 147, 0.493);
  padding: 17px;
  display: block;
  margin: 22px;
  text-align: center;
  font-weight: 600;
  font-size: 25px;
  box-shadow: 0 0 5px rgb(168, 168, 168);
  color: rgb(122, 0, 0);
}

.swal-button {
  background-color: #7db59a;
}
